.sectionTitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.75rem;
  color: var(--textColorHeading);
}


.sectionSubTitle {
  font-weight: 500;
  font-size: 1.50rem;
  line-height: 1.75rem;
  color: var(--textColorHeading);
}
