.companyWrapper {
  display: flex;
  position: relative;
  gap: 1.5rem;
}

.imageContainer {
  position: relative;
}
.experienceImage {
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(55 65 81);
  background-color: rgb(31 41 55);
}

.circule {
  position: absolute;
  background-color: rgb(37 99 235);
  left: -0.25rem;
  top: 2rem;
  height: 0.5rem;
  width: 0.5rem;
  transform: translate(-100%, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  border-radius: 9999px;
}

.companyInfo {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.companyInfo > h4 {
  margin-top: 1.2rem;
}

