.alertContainer {
  display: flex;
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(-5%, -30%);
  flex-direction: column;
  gap: 0.25rem;
  background-color: rgb(55, 65, 81);
  padding: 1.25rem;
  border-radius: 0.5rem;
  opacity: 80%;
}
