.projectsCarouselHoverly {
  display: flex;
  position: absolute;
  bottom: 0%;
  right: 0%;
  top: 0%;
  left: 0%;
  background-color: rgb(0 0 0 / 0.8);
  inset: 0px;
  align-items: center;
  justify-content: center;
}

.projectsCarouselModal {
  background-color: rgb(31 41 55);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 64rem;
  border-radius: 0.5rem;
}

.projectsCarouselHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  text-align: left;
}

.projectsCarouselText {
  font-weight: 600;
}

.projectsCarouselMain {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.projectsCarouselImageContainer {
  position: relative;
  aspect-ratio: 16 / 9;
  background-color: black;
}

.projectsCarouselImage {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  color: transparent;
  object-fit: contain;
}

.projectsCarouselDescription {
  padding: 0.5rem;
}

.projectsCarouselSubHeading {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--textColorHeading);
  margin-top: 0.5rem;
  margin-block-end: 0.5rem;
  text-wrap: balance;
}

.projectsCarouselPositionDescription {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-weight: 300;
  line-height: 1rem;
  color: var(--textColorBase);
  margin-top: 0.4rem;
  margin-inline-end: 1rem;
}

.siteLink {
  color: var(--textColorBase);
  margin-top: 1rem;
}

.siteLink:hover {
  transform: scale(0.99);
}

.projectsCarouselBtnContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  inset: 0;
  align-items: center;
  padding: 1rem;
}

@media (width < 768px) {
  .projectsCarouselDescription {
    padding: 1.5rem;
  }
  .projectsCarouselMain {
    grid-template-columns: unset;
  }
  .projectsCarouselModal {
    border-radius: unset;
    min-height: 700px;
  }
}
